data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/knownDrugMetabolizers.xlsx

~$*

*.json.gz
*.xml

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

renv/library/
renv/staging/
.Rproj.user/
*.Rhistory
.RData
