data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/knownDrugMetabolizers.xlsx

# PDFs (copyright/large) and literature working files
pdfs/
pdf_extracts.json
extract_err.log
*.webp

~$*

*.json.gz
*.xml

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

renv/library/
renv/staging/
.Rproj.user/
*.Rhistory
.RData

pdfs_lookup/
